/* PAGINA DE NUMEROS */
@media screen and (max-width: 769px) {
  .card-sortear h2 {
    font-size: 25px;
  }
  .input-field label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .input-field input {
    width: 90%;
  }
  #generate {
    padding: 8px 17px;
    font-size: 18px;
  }
  #result {
    margin-top: 15px;
    font-size: 25px;
  }
}

@media screen and (max-width: 481px) {
  header {
    font-size: 10px;
  }
  header .nav-header > div > a {
    font-size: 14px;
    font-weight: bolder;
  }
}

/* PAGINA DE NOMES */
